<section class="content">
    <div class="container flex items-center justify-center h-full">
      <div
        class="grid max-w-lg p-6 text-center shadow-2xl  bg-gray-50 rounded-xl md:p-12 place-items-center bg-opacity-5 backdrop-filter backdrop-blur"
      >
        <div
          class="grid mb-8 rounded-full  bg-gradient-to-br from-gray-900 to-indigo-300 w-28 h-28 place-items-center"
        > 
        </div>
        <img src="/src/assets/Logo/404.png">
        <h1 class="mb-8 text-3xl">Data Not Found, Please contact system adminstrator</h1>
         
      </div>
    </div>
    </section>