<section class="content">
  <div class="bk404">
    <img class="img_aln" src="https://res.cloudinary.com/practicaldev/image/fetch/s--_GqDpWw0--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/i/7aqcppklh6bexoa70320.jpg" alt="404" width="36%" height="61%">
    <h1 class="content404"><b>Page Not Found</b></h1>
    <h2 class="contentCon">We're sorry, the page you requested could not be found. Please go back to the home page or contact us at <a href="mailto:robinmech1218@gmail.com">robinmech1218@gmail.com</a> </h2>
  </div>
</section>